body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/russian_roulette_background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Comfortaa', cursive;
}
.POPOUT{
    /*display: none; /* Изменяется позже в JS по кнопке */
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid red;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);
}

.POPOUT .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
.show-login{
    cursor: pointer;
}
.menu-item button{
    display: inline-block;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: white;;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 15px;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 20px;
}
.menu-item a { /* DELETEME */
    color: white;
    text-decoration: none;
}
.ebatsyavredno{
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

#casinobtn{
    color:white;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

#casinobtn:hover{
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}
#stake:hover{
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-box {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 400px;
    text-align: justify;
}

#cylinder{
    width: 449px; /* Эта сука блять не центрируется из-за вашего разрешения уебского*/
    height: 449px;
    scale:0.7; /* так что вот такой костыль */
    transition: transform 2s ease-out;
}

.revolver-image {
    width: 449px;
    height: 449px;
}

.controls {
    text-align: center;
}

.bet-buttons {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn.green {
    background-color: green !important;
    color: white;
}

.btn.red {
    background-color: red;
    color: white;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(1080deg); } /* 3 оборота */
}

.rotate {
    transform: rotate(1080deg);
}

.pointer {
    position: absolute;
    top: calc(50% - 100px); /* регулируй под свою высоту */
    /* TODO: Медиазапрос для размеров ВСЕХ элементов*/
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #fff; /* ЧЁТКИЙ УКАЗАТЕЛЬ */
    z-index: 20;
    filter: drop-shadow(0 0 5px black);
}

.overlay-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    z-index: 1000;
    display: none;
}